<h1>Ti.MapCluster Module</h1>

<h2>Author</h2>

<p>Davide Cassenti</p>

<h2>Use the module</h2>

<ol>
<li>Put the module in the commonjs/modules directory</li>
<li>Copy the example/pins directory in the app resources directory (those pins can be customized) </li>
</ol>

<h2>License</h2>

<p>Copyright(c) 2011-2012 by Appcelerator, Inc. All Rights Reserved. Please see the LICENSE file included in the distribution for further details.</p>
